*{
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}

body{
  font-family: helvetica;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
ul{
  padding: 1em;
  list-style: none;
}
table, tbody, tr, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td:nth-child(-3n+6){
  border-right: solid 6px black;
}
tr:nth-child(-3n+6){
  border-bottom: solid 6px black;
}

.header_Bar{
  border: solid 2px;
  height: 6.5em;
  margin-top: 0;
}

.main_Title{
  display: inline-block;
  font-size: 3em;
  margin-top: .5em;
  margin-left: 16%;
  /*margin: 0 auto;*/
  width: auto;
  z-index: 0;
}

.header_GraphicsLeft{
  display: block;
  float: left;
  height: 1em;
  margin: 0;
  width: 3.1em;
}

.header_GraphicsRight{
  display: block;
  float: right;
  height: 6em;
  margin-right: .7em;
  width: 3.1em;
  z-index: 1;
}

.box_wrapper {
  -webkit-appearance: none;
  border: solid 2px;
  font-size: 1.5em;
  height: 2em;
  margin: 0;
  text-align: center;
  width: 2em;
}

.box_wrapper_deco {
  -webkit-appearance: none;
  border: solid 2px;
  display: inline-flex;
  font-size: 1.5em;
  height: 2em;
  width: 2em;
}

.footer_wrapper {
  background-color: black;
  color: white;
  height: 5.1em;
  width: 100%;
}

.grid_wrapper {
  display: inline-block;
  min-height: 35em;
  margin-top: 1em;
  width: 29em;
}

.user_box{
  background-color: white;
  /*border-top: #999999 10px solid;*/
  border-top: lightgrey 10px solid;
  border-left: #999999 10px solid;
  border-right: #222222 10px solid;
  border-bottom: #222222 10px solid;
  display: inline-block;
  height: auto;
  margin-left: 5em;
  margin-top: 2em;
  margin-right: 8em;
  padding: 1em;
  width: 30em;
  vertical-align: top;
}

.info_text{
  font-size: 1em;
  text-indent: 1em;

}

.solve_button{
  border-top: #999999 4px solid;
  border-left: #999999 4px solid;
  border-right: #222222 4px solid;
  border-bottom: #222222 4px solid;
  background-color: grey;
  font-family: "arial", sans-serif;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  height: 2.5em;
  margin-left: 5.5em;
  width: 5em;
}

.reset_button{
  background-color: slategrey;
  border-top: lightgrey 4px solid;
  border-left: lightgrey 4px solid;
  border-right: #222222 4px solid;
  border-bottom: #222222 4px solid;
  color: white;
  font-size: 12pt;
  font-weight: bolder;
  margin-left: 5.5em;
  height: 2.5em;
  width: 5em;
}

.puzzle_error{
  background-color: red;
  color: white;
  height: auto;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}

.puzzle_solved{
  background-color: lightgreen;
  color: black;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}

.counter_display{
  font-size: 10pt;
  white-space: pre;
}
